.each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 560.75px;
}

.each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.each-slide-gallery > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 750px;
    width: 1250px;

}

.each-slide-gallery span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}
